<template>
  <div class="signup">
    <div class="signup__inner">
      <form class="signup__form">
        <div class="signup--logo">
          <span class="highlight">KILL</span>TIME
        </div>
        <div class="signup__form__attr">
          <label class="signup__form__attr--label">FULL NAME</label>
          <input name="fullName" type="text" class="signup__form__attr--input" v-model="fullName" />
        </div>
        <div class="signup__form__attr">
          <label class="signup__form__attr--label">EMAIL</label>
          <input name="email" type="email" class="signup__form__attr--input" v-model="email" />
        </div>
        <div class="signup__form__attr">
          <label class="signup__form__attr--label">DOB</label>
          <!-- <input class="signup__form__attr--input" type="date" /> -->
          <div class="date-dd">
            <multiselect
              name="Year of Birth"
              :show-labels="false"
              :optionHeight="32"
              :options="yearsList"
              :value="yyyy"
              v-model="yyyy"
              :blockKeys="['tab', 'enter']"
            ></multiselect>
            <multiselect
              name="Month of Birth"
              :show-labels="false"
              :optionHeight="32"
              :options="monthesList"
              v-model="mm"
              :value="mm"
              :blockKeys="['tab', 'enter']"
            ></multiselect>
            <multiselect
              name="Day of Birth"
              :show-labels="false"
              :optionHeight="32"
              :options="daysList"
              v-model="dd"
              :value="dd"
              :blockKeys="['tab', 'enter']"
            ></multiselect>
          </div>
        </div>
        <div class="signup__form__attr">
          <div class="signup__form__multi">
            <div class="signup__form__multi__attr">
              <label class="signup__form__attr--label">COUNTRY</label>
              <!-- <input  
            name="country"
            type="text"
            class="signup__form__attr--input"
            v-model="country"
            placeholder="e.g: Australia"
              />-->
              <multiselect
                name="country"
                :show-labels="false"
                :optionHeight="32"
                :options="countryList"
                v-model="country"
                :value="country"
                :blockKeys="['tab', 'enter']"
              ></multiselect>
            </div>
            <div class="signup__form__multi__attr">
              <label class="signup__form__attr--label">CITY</label>
              <!-- <input class="signup__form__attr--input" type="text" /> -->
              <input name="city" type="text" class="signup__form__attr--input" v-model="city" />
            </div>
          </div>
        </div>
        <div class="signup__form__attr">
          <label class="signup__form__attr--label">PASSWORD</label>
          <!-- <input class="signup__form__attr--input" type="password" /> -->
          <input
            name="password"
            type="password"
            class="signup__form__attr--input"
            v-model="password"
          />
        </div>
        <div class="signup__form__attr">
          <button class="signup__form__attr--submit" @click.prevent="signUpAndValidate">SIGN UP</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
var countryList = [
  "Afghanistan",
  "Albania",
  "Algeria",
  "American Samoa",
  "Andorra",
  "Angola",
  "Anguilla",
  "Antarctica",
  "Antigua and Barbuda",
  "Argentina",
  "Armenia",
  "Aruba",
  "Australia",
  "Austria",
  "Azerbaijan",
  "Bahamas (the)",
  "Bahrain",
  "Bangladesh",
  "Barbados",
  "Belarus",
  "Belgium",
  "Belize",
  "Benin",
  "Bermuda",
  "Bhutan",
  "Bolivia (Plurinational State of)",
  "Bonaire, Sint Eustatius and Saba",
  "Bosnia and Herzegovina",
  "Botswana",
  "Bouvet Island",
  "Brazil",
  "British Indian Ocean Territory (the)",
  "Brunei Darussalam",
  "Bulgaria",
  "Burkina Faso",
  "Burundi",
  "Cabo Verde",
  "Cambodia",
  "Cameroon",
  "Canada",
  "Cayman Islands (the)",
  "Central African Republic (the)",
  "Chad",
  "Chile",
  "China",
  "Christmas Island",
  "Cocos (Keeling) Islands (the)",
  "Colombia",
  "Comoros (the)",
  "Congo (the Democratic Republic of the)",
  "Congo (the)",
  "Cook Islands (the)",
  "Costa Rica",
  "Croatia",
  "Cuba",
  "Curaçao",
  "Cyprus",
  "Czechia",
  "Côte d'Ivoire",
  "Denmark",
  "Djibouti",
  "Dominica",
  "Dominican Republic (the)",
  "Ecuador",
  "Egypt",
  "El Salvador",
  "Equatorial Guinea",
  "Eritrea",
  "Estonia",
  "Eswatini",
  "Ethiopia",
  "Falkland Islands (the) [Malvinas]",
  "Faroe Islands (the)",
  "Fiji",
  "Finland",
  "France",
  "French Guiana",
  "French Polynesia",
  "French Southern Territories (the)",
  "Gabon",
  "Gambia (the)",
  "Georgia",
  "Germany",
  "Ghana",
  "Gibraltar",
  "Greece",
  "Greenland",
  "Grenada",
  "Guadeloupe",
  "Guam",
  "Guatemala",
  "Guernsey",
  "Guinea",
  "Guinea-Bissau",
  "Guyana",
  "Haiti",
  "Heard Island and McDonald Islands",
  "Holy See (the)",
  "Honduras",
  "Hong Kong",
  "Hungary",
  "Iceland",
  "India",
  "Indonesia",
  "Iran (Islamic Republic of)",
  "Iraq",
  "Ireland",
  "Isle of Man",
  "Israel",
  "Italy",
  "Jamaica",
  "Japan",
  "Jersey",
  "Jordan",
  "Kazakhstan",
  "Kenya",
  "Kiribati",
  "Korea (the Democratic People's Republic of)",
  "Korea (the Republic of)",
  "Kuwait",
  "Kyrgyzstan",
  "Lao People's Democratic Republic (the)",
  "Latvia",
  "Lebanon",
  "Lesotho",
  "Liberia",
  "Libya",
  "Liechtenstein",
  "Lithuania",
  "Luxembourg",
  "Macao",
  "Madagascar",
  "Malawi",
  "Malaysia",
  "Maldives",
  "Mali",
  "Malta",
  "Marshall Islands (the)",
  "Martinique",
  "Mauritania",
  "Mauritius",
  "Mayotte",
  "Mexico",
  "Micronesia (Federated States of)",
  "Moldova (the Republic of)",
  "Monaco",
  "Mongolia",
  "Montenegro",
  "Montserrat",
  "Morocco",
  "Mozambique",
  "Myanmar",
  "Namibia",
  "Nauru",
  "Nepal",
  "Netherlands (the)",
  "New Caledonia",
  "New Zealand",
  "Nicaragua",
  "Niger (the)",
  "Nigeria",
  "Niue",
  "Norfolk Island",
  "Northern Mariana Islands (the)",
  "Norway",
  "Oman",
  "Pakistan",
  "Palau",
  "Palestine, State of",
  "Panama",
  "Papua New Guinea",
  "Paraguay",
  "Peru",
  "Philippines (the)",
  "Pitcairn",
  "Poland",
  "Portugal",
  "Puerto Rico",
  "Qatar",
  "Republic of North Macedonia",
  "Romania",
  "Russian Federation (the)",
  "Rwanda",
  "Réunion",
  "Saint Barthélemy",
  "Saint Helena, Ascension and Tristan da Cunha",
  "Saint Kitts and Nevis",
  "Saint Lucia",
  "Saint Martin (French part)",
  "Saint Pierre and Miquelon",
  "Saint Vincent and the Grenadines",
  "Samoa",
  "San Marino",
  "Sao Tome and Principe",
  "Saudi Arabia",
  "Senegal",
  "Serbia",
  "Seychelles",
  "Sierra Leone",
  "Singapore",
  "Sint Maarten (Dutch part)",
  "Slovakia",
  "Slovenia",
  "Solomon Islands",
  "Somalia",
  "South Africa",
  "South Georgia and the South Sandwich Islands",
  "South Sudan",
  "Spain",
  "Sri Lanka",
  "Sudan (the)",
  "Suriname",
  "Svalbard and Jan Mayen",
  "Sweden",
  "Switzerland",
  "Syrian Arab Republic",
  "Taiwan (Province of China)",
  "Tajikistan",
  "Tanzania, United Republic of",
  "Thailand",
  "Timor-Leste",
  "Togo",
  "Tokelau",
  "Tonga",
  "Trinidad and Tobago",
  "Tunisia",
  "Turkey",
  "Turkmenistan",
  "Turks and Caicos Islands (the)",
  "Tuvalu",
  "Uganda",
  "Ukraine",
  "United Arab Emirates (the)",
  "United Kingdom of Great Britain and Northern Ireland (the)",
  "United States Minor Outlying Islands (the)",
  "United States of America (the)",
  "Uruguay",
  "Uzbekistan",
  "Vanuatu",
  "Venezuela (Bolivarian Republic of)",
  "Viet Nam",
  "Virgin Islands (British)",
  "Virgin Islands (U.S.)",
  "Wallis and Futuna",
  "Western Sahara",
  "Yemen",
  "Zambia",
  "Zimbabwe",
  "Åland Islands"
];
var yearsList = [
  "2019",
  "2018",
  "2017",
  "2016",
  "2015",
  "2014",
  "2013",
  "2012",
  "2011",
  "2010",
  "2009",
  "2008",
  "2007",
  "2006",
  "2005",
  "2004",
  "2003",
  "2002",
  "2001",
  "2000",
  "1999",
  "1998",
  "1997",
  "1996",
  "1995",
  "1994",
  "1993",
  "1992",
  "1991",
  "1990",
  "1989",
  "1988",
  "1987",
  "1986",
  "1985",
  "1984",
  "1983",
  "1982",
  "1981",
  "1980",
  "1979",
  "1978",
  "1977",
  "1976",
  "1975",
  "1974",
  "1973",
  "1972",
  "1971",
  "1970",
  "1969",
  "1968",
  "1967",
  "1966",
  "1965",
  "1964",
  "1963",
  "1962",
  "1961",
  "1960",
  "1959",
  "1958",
  "1957",
  "1956",
  "1955",
  "1954",
  "1953",
  "1952",
  "1951",
  "1950",
  "1949",
  "1948",
  "1947",
  "1946",
  "1945",
  "1944",
  "1943",
  "1942",
  "1941",
  "1940",
  "1939",
  "1938",
  "1937",
  "1936",
  "1935",
  "1934",
  "1933",
  "1932",
  "1931",
  "1930",
  "1929",
  "1928",
  "1927",
  "1926",
  "1925",
  "1924",
  "1923",
  "1922",
  "1921",
  "1920",
  "1919",
  "1918",
  "1917",
  "1916",
  "1915",
  "1914",
  "1913",
  "1912",
  "1911",
  "1910",
  "1909",
  "1908",
  "1907",
  "1906",
  "1905"
];
var monthesList = [
  "01",
  "02",
  "03",
  "04",
  "05",
  "06",
  "07",
  "08",
  "09",
  "10",
  "11",
  "12"
];
var daysList = [
  "01",
  "02",
  "03",
  "04",
  "05",
  "06",
  "07",
  "08",
  "09",
  "10",
  "11",
  "12",
  "13",
  "14",
  "15",
  "16",
  "17",
  "18",
  "19",
  "20",
  "21",
  "22",
  "23",
  "24",
  "25",
  "26",
  "27",
  "28",
  "29",
  "30",
  "31"
];
// import axios from 'axios';
export default {
  data() {
    return {
      countryList: countryList,
      yearsList: yearsList,
      monthesList: monthesList,
      daysList: daysList,
      fullName: "",
      email: "",
      // countryofbirth: null,
      yyyy: "",
      mm: "",
      dd: "",
      country: "",
      city: "",
      password: ""
    };
  },
  methods: {
    signUpAndValidate() {
      console.log("function called");
      if (this.fullName == "") {
        this.$toasted.error("Enter Full Name");
        return;
      } else if (this.email == "") {
        this.$toasted.error("Enter Email");
        return;
      } else if (this.yyyy == "") {
        this.$toasted.error("Select Year of Birth");
        return;
      } else if (this.mm == "") {
        this.$toasted.error("Select Month of Birth");
        return;
      } else if (this.dd == "") {
        this.$toasted.error("Select Day of Birth");
        return;
      } else if (this.country == "") {
        this.$toasted.error("Select Country");
        return;
      } else if (this.city == "") {
        this.$toasted.error("Enter City");
        return;
      } else if (this.password == "") {
        this.$toasted.error("Enter Password");
        return;
      }
      this.$axios
        // .post("http://localhost:3000/signup", {
          .post("https://killmatch.herokuapp.com/signup",{
          name: this.fullName,
          email: this.email,
          password: this.password,
          country: this.country,
          location: this.city,
          day: this.dd,
          month: this.mm,
          year: this.yyyy
        })
        .then(response => {
          console.log("sign up token", response.data.access_token);
          localStorage.setItem("token", response.data.access_token);
          console.log("sign up id", response.data.id);
          localStorage.setItem("id", response.data.id);
          // const token = localStorage.getItem('token');
          // console.log("token storing in browser: ", token)
          // this.$log.debug("Fee category added:", response);
          this.$toasted.success("You are Successfully Loged In");
          this.$router.push("/home");
          // this.name = "";
          // this.description = "";
          
        })
        .catch(error => {
          // this.$log.debug(error.response);
          console.log("error:", error);
          this.$toasted.error("Error in Sign Up");
        });
    }
  }
  // methods: {
  //   signUpAndValidate() {
  //     console.log("function called");
  //     if (this.fullName == "") {
  //       this.$toasted.error("Enter fee Full Name");
  //       return;
  //     } else if (this.email == "") {
  //       this.$toasted.error("Enter Email");
  //       return;}
  //     // else if (this.yyyy == "") {
  //     //   this.$toasted.error("Select Year of Birth");
  //     //   return;
  //     // }else if (this.mm == "") {
  //     //   this.$toasted.error("Select Month of Birth");
  //     //   return;
  //     // }else if (this.dd == "") {
  //     //   this.$toasted.error("Select Day of Birth");
  //     //   return;
  //     // }
  //     // else if (this.country == "") {
  //     //   this.$toasted.error("Select Country");
  //     //   return;
  //     // }
  //     else if (this.city == "") {
  //       this.$toasted.error("Enter City");
  //       return;
  //     }else if (this.password == "") {
  //       this.$toasted.error("Enter Password");
  //       return;
  //     }
  //     this.$axios
  //       // .post(
  //       //     "https://mysterious-lowlands-94558.herokuapp.com/signup",
  //       //   {
  //       //        name: this.fullName,
  //       //        email: this.email,
  //       //        password: this.password,
  //       //        country: this.country,
  //       //       location: this.city,
  //       //         day:this.dd,
  //       //         month:this.mm,
  //       //         year:this.year
  //       //   }
  //       // )
  //             .post(
  //           "https://mysterious-lowlands-94558.herokuapp.com/signup",
  //         {
  //              name: "haider",
  //              email: "haidersd@gmail.com",
  //              password: "sadfdsafsa",
  //              country: "sdfdsf",
  //             location: "sfdsd",
  //               day:23,
  //               month:10,
  //               year:2019
  //         }
  //       )
  //       .then(response => {
  //         console.log("sign up token", response);
  //         // this.$log.debug("Fee category added:", response);
  //         this.$toasted.success("You are Successfully Sign Up");
  //         this.$router.push('/home')
  //         // this.name = "";
  //         // this.description = "";
  //       })
  //       .catch(error => {
  //         // this.$log.debug(error.response);
  //         console.log("error:", error)
  //         this.$toasted.error("Error in Sign Up");
  //       });
  //   }
  // }
};
</script>

<style lang="scss">
$color-white: #fff;
$color-secondary: #6c587b;
$color-text: #555;
.signup {
  width: 100%;
  &__inner {
    padding: 8rem 0;
  }
  &--logo {
    color: $color-text;
    font-size: 25px;
    display: block;
    letter-spacing: 1.05px;
    text-align: center;
    padding: 3rem 0 1.5rem 0;
    font-weight: 700;
  }
  &__form {
    background-color: $color-white;
    border-radius: 1.2rem;
    margin: 0 auto;
    max-width: 45rem;
    overflow: hidden;
    padding: 0 5rem;
    &__multi {
      display: flex;
      flex-direction: row;
      &__attr:not(:last-child) {
        padding-right: 3rem;
      }
    }
    &__attr {
      padding-bottom: 1.7rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $color-text;
      &--label {
        font-size: 1.2rem;
        display: block;
        padding: 0 0 5px 1rem;
      }
      &--input {
        outline: none;
        display: block;
        width: 100%;
        padding: 1.1rem 1rem;
        font-size: 1.6rem;
        color: #666;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 12px;
      }
      &--submit {
        background-color: $color-secondary;
        color: $color-white;
        border: none;
        outline: none;
        border-radius: 12px;
        width: 100%;
        font-weight: 700;
        font-size: 1.3rem;
        margin: 1.4rem 0 0rem 0;
        text-align: center;
        padding: 1.4rem;
        margin-bottom: 2rem;
      }
    }
  }
}
</style>