<template>
  <div class="discover">
    <div class="discover__inner">
<!-- v-if="dataloading" -->
      <div class="cards" >
        <template v-for="(item, i) in profiles">
          <router-link
            :key="i"
            class="cards__item"
            :to="{ name: 'SuspectProfile', params: { id: item.id } }"
          >
            <div class="cards__item--img" >
              <!-- <img src="../../assets/person.png" /> -->
              <img v-bind:src=item.profile_photo />
            </div>
            <div class="cards__item__content">
              <div class="cards__item--user">{{ item.name }}</div>
              <div class="cards__item--descr">Age {{ item.age }}</div>
              <div class="cards__item--address">{{ item.location }}</div>
            </div>
          </router-link>
        </template>
      </div>
      <!-- <div class="cards" v-if="!dataloading">
              <LoadingGif />
      </div> -->
    </div>
  </div>
</template>

<script>
// const LoadingGif = () => import("./../components/LoadingGif.vue");
export default {
  name: "discover",
  // components: {
  //   loadingGif
  // },
  data() {
    return {
      profiles: [],
      dataLoading: "",
      id: ""
    };
  },
  components: {
    // LoadingGif
  },
  mounted() {
    // this.dataLoading = false;
    const token = localStorage.getItem("token");
    this.id = localStorage.getItem("id");
    console.log("token from browser storage in discover: ", token);
    console.log("id from browser storage in discover: ", this.id);
    this.$axios
      // .get("http://localhost:3000/user/discover", {
        .get("https://killmatch.herokuapp.com/user/discover",{
        params: {
          id: this.id
        }
      })
      .then(response => {
        // this.dataLoading = true;
        console.log("new profiles: ", response.data);
        this.profiles = response.data;
      })
      .catch(error => {
        // this.dataLoading = true;
        console.log("error:", error);
      });
  }
};
</script>

<style lang="scss">
.discover {
  width: 100%;
  &__inner {
    margin: 0 auto;
    max-width: 120rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.cards {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 5fr));
  &__item {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 13px;
    overflow: hidden;
    text-decoration: none;
    &--img {
      height: 17rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__content {
      padding: 1.5rem 2rem;
      color: #555;
    }
    &--user {
      font-size: 1.8rem;
      padding-bottom: 1rem;
    }
    &--descr {
      font-size: 1.3rem;
      padding-bottom: 1.8rem;
    }
    &--address {
      text-align: right;
      font-size: 1.1rem;
      display: block;
      color: #808080;
      padding-bottom: 0.4rem;
    }
  }
}
</style>