<template>
  <div class="suspect">
    <div class="suspect__container">
      <div class="suspect__left">
        <div class="suspect__profile--img">
          <!-- <img src="../../assets/person.png" /> -->
          <img v-bind:src=profile.profile_photo />
        </div>
            <!-- <router-link
            :to="{ name: 'Chat', params: { } }"
          >
          <a href="#" class="suspect__profile--msg">Send Message</a>
          </router-link> -->
      
      </div>
      <div class="suspect__right">
        <div class="suspect__user-info">
          <div class="suspect__user-info--name">{{profile.name}}</div>
          <br>
          <div class="suspect__user-info--address">Age {{profile.age}}</div>
          <br>
          <div class="suspect__user-info--address">{{profile.education}}</div>
          <br>
          <div class="suspect__user-info--address">{{profile.location}}, {{profile.country}}</div>
           <br>
          <!-- <div class="suspect__user-info--address">Country: {{profile.languages[0]}}</div> -->
        </div>
        <div class="suspect__user-bio">
          {{profile.bio}}
          <br />
         
        </div>
    <!-- <router-link
            :to="{ name: 'Chat', params: { } }"
          >
          <a href="#" class="suspect__profile--msg">Send Message</a>
          </router-link> -->
<router-link
            :to="{ name: 'UpdateProfile', params: {profileData:profile } }"
          >
              <div class="signup__form__attr">
          <button class="signup__form__attr--submit" >Edit Profile </button>
        </div>
</router-link>

        <div class="suspect__user-photos">
          <div class="suspect__user-photos--title">Photos</div>
          <div class="suspect__user-photos--col">
            <div class="suspect__user-photos--item">
              <img src="../../assets/person.png" />
            </div>
            <div class="suspect__user-photos--item">
              <img src="../../assets/person.png" />
            </div>
            <div class="suspect__user-photos--item">
              <img src="../../assets/person.png" />
            </div>
            <div class="suspect__user-photos--item">
              <img src="../../assets/person.png" />
            </div>
            <div class="suspect__user-photos--item">
              <img src="../../assets/person.png" />
            </div>
            <div class="suspect__user-photos--item">
              <img src="../../assets/person.png" />
            </div>
            <div class="suspect__user-photos--item">
              <img src="../../assets/person.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// const loadingGif = () => import("../../components/loadingGif.vue");
export default {
  name: 'profile',
  // components: {
  //   loadingGif
  // },
  data() {
    return {
     profile: {},
     dataLoading: ""
    };
  },
  mounted() {
//     console.log("id from prop: ", this.id)
//     localStorage.setItem('receiverId', this.id);
//   //   this.dataLoading = false;
//   // const token = localStorage.getItem('token');
  const id = localStorage.getItem('id');
  // console.log("token from browser storage in discover: ",token)
  console.log("id from browser storage in profile: ",id)
  this.$axios
    .get(
        // "http://localhost:3000/user/profile",
        "https://killmatch.herokuapp.com/user/profile",
      {
          params: {  
           id: id,
          }
        }   
    )
    .then(response => {
      // this.dataLoading = true;
      console.log("profile data: ", response);
       this.profile = response.data.data;
    })
    .catch(error => {
      // this.dataLoading = true;
      console.log("error:", error)
    });
} }
    
</script>

<style lang="scss">
$color-secondary: #6c587b;

.suspect {
  width: 100%;
  padding: 5.5rem 0;
}
.suspect__container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
}
.suspect__left {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
}
.suspect {
  &__profile--img {
    border-radius: 1.2rem;
    overflow: hidden;
    margin-bottom: 1.9rem;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__profile--msg {
    background-color: $color-secondary;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.3rem;
    color: #fff;
    border-radius: 1rem;
  }
}
.suspect__right {
  flex-grow: 2;
  flex: 2;
  padding: 1.4rem;
}

.suspect {
  &__user-info {
    &--name {
      font-size: 2.6rem;
      display: block;
      color: #333;
    }
    &--address {
      color: #808080;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }
  &__user-bio {
    padding: 3rem 0;
    color: #555;
    font-size: 1.8rem;
    line-height: 1.3;
  }
  &__user-photos {
    &--title {
      font-size: 2rem;
      color: #333;
      display: block;
      font-weight: 700;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }
    &--col {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(100px, 6fr));
    }
    &--item {
      width: 10rem;
      height: 10rem;
      border-radius: 3px;
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
</style>