<template>
  <div class="update">
    <div class="update__container">
      <div class="update__left">
        <div class="update__profile--img">
          <img class="update__profile--img-main" src="../../assets/person.png" />
          <div class="update__profile--img--choose">
            <label for="choose-profile-photo">
              <img src="../../assets/photo.svg" />
            </label>
            <input id="choose-profile-photo" type="file" />
          </div>
        </div>
        <input type="file" @change="onFileSelected">
        <button @click="onUpload">Upload</button>
      </div>
      <div class="update__right">
        <form class="update__form">
          <div class="update__form--title">Update Profile</div>
          <!-- <div class="update__form__attr">
            <label class="update__form__attr--label">Name</label>
            <input class="update__form__attr--input" type="text" v-model="profile_photo" />
          </div> -->
          <div class="update__form__attr">
            <label class="update__form__attr--label">Languages</label>
            <input class="update__form__attr--input" type="email" v-model="languages"/>
          </div>
          <div class="update__form__attr">
            <label class="update__form__attr--label">Relationship Status</label>
            <input class="update__form__attr--input"  v-model="relationship_status"/>
          </div>
          <div class="update__form__attr">
            <label class="update__form__attr--label">Country</label>
            <input class="update__form__attr--input" type="text" v-model="country"/>
          </div>
          <div class="update__form__attr">
            <label class="update__form__attr--label">education</label>
            <input class="update__form__attr--input" type="text" v-model="education"/>
          </div>
          <!-- <div class="update__form__attr">
            <label class="update__form__attr--label">Password</label>
            <input class="update__form__attr--input" type="password" v-model="profile_photo"/>
          </div> -->
          <div class="update__form__attr">
            <label class="update__form__attr--label">Bio</label>
            <textarea class="update__form__attr--input" type="textarea" rows="8" v-model="bio"/>
          </div>
          <div class="signup__form__attr">
          <button class="signup__form__attr--submit" @click.prevent="updateProfile">UpDate Profile </button>
        </div>
          <!-- <div class="update__form__attr">
            <button class="update__form__attr--submit">SIGN UP</button>
          </div>-->
          <div class="update__user-photos">
            <div class="update__user-photos--title">Photos</div>
            <div class="update__user-photos--col">
              <div class="update__user-photos--item">
                <img src="../../assets/person.png" />
              </div>
              <div class="update__user-photos--item">
                <img src="../../assets/person.png" />
              </div>
              <div class="update__user-photos--item">
                <img src="../../assets/person.png" />
              </div>
              <div class="update__user-photos--item">
                <img src="../../assets/person.png" />
              </div>
              <div class="update__user-photos--item">
                <img src="../../assets/person.png" />
              </div>
              <div class="update__user-photos--item">
                <img src="../../assets/person.png" />
              </div>
              <div class="update__user-photos--item">
                <img src="../../assets/person.png" />
              </div>
              <div class="update__user-photos--item update__user-photos--item--plus">
                <img src="../../assets/plus.svg" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "updateProfile",
  props: ["profileData"],
  data() {
    return {
      selectedFile: null,
      profile_photo: "",
     relationship_status: this.profileData.relationship_status || "",
     education: this.profileData.education || "",
     bio: this.profileData.bio || "",
     languages: this.profileData.languages[0] || "",
     country: this.profileData.country || "",
     id: localStorage.getItem("id")
    };
  },
  mounted(){
      console.log("profile from prop is: ", this.profileData);
  },
  methods: { 
    onFileSelected(event){
      // this.selectedFile = event.target.files[0];

      var reader = new FileReader()
    reader.readAsDataURL(event.target.files[0])
    reader.onload = ()=> {
      this.selectedFile = reader.result;
       console.log("Now selected file is",reader.result);
                     };
              
    // this.$emit('input', event.target.files[0])
    // console.log("emiting image: ",event.target.files[0])
    },
    onUpload(){
      // const config = { headers: { 'Content-Type': 'multipart/form-data' } };
      // const fd = new FormData();
      // fd.append('profile_photo', this.selectedFile)
      // fd.append('bio', this.bio)
      // fd.append('relationship_status', this.relationship_status)
      // fd.append('education', this.education)
      // fd.append('languages', this.languages)

         this.axios.post('https://killmatch.herokuapp.com/user/create_profile', {
              profile_photo:this.selectedFile,
              relationship_status:this.relationship_status,
              bio:this.bio,
              education:this.education,
              languages:this.languages
              },
              {
                  params: {
                    id: this.id
                  }
                })
            .then(function (response) {
              console.log(response);
                // this.$log.debug("Fee category added:", response);

                      this.$toasted.success("You Successfully Updated Profile");
                    this.$router.push("/profile");
                    
            
            })
            .catch(function (error) {
              console.log(error);
            });
    },
   updateProfile(){
      const fd = new FormData();
      fd.append('profile_photo', this.selectedFile, this.selectedFile.name)

       if (this.bio == "") {
        this.$toasted.error("Enter Bio");
        return;
      } else if (this.country == "") {
        this.$toasted.error("Enter Country");
        return;
      }
          this.axios.post('http://localhost:3000/user/create_profile', {
              profile_photo:this.selectedFile,
              relationship_status:this.relationship_status,
              bio:this.bio,
              education:this.education,
              languages:this.languages
              },
              {
                  params: {
                    id: this.id
                  }
                })
            .then(function (response) {
              console.log(response);
                // this.$log.debug("Fee category added:", response);

                      this.$toasted.success("You Successfully Updated Profile");
                    this.$router.push("/profile");
                    
            
            })
            .catch(function (error) {
              console.log(error);
            });
} 
  }
//     methods: { 
//     onFileSelected(event){
//       // this.selectedFile = event.target.files[0];

//       var reader = new FileReader()
//     reader.readAsDataURL(event.target.files[0])
//     reader.onload = ()=> {
//       this.selectedFile = reader.result;
//        console.log("Now selected file is",reader.result);
//                      };
              
//     // this.$emit('input', event.target.files[0])
//     // console.log("emiting image: ",event.target.files[0])
//     },
//     onUpload(){
//       const config = { headers: { 'Content-Type': 'multipart/form-data' } };
//       const fd = new FormData();
//       fd.append('profile_photo', this.selectedFile)
//       fd.append('bio', this.bio)
//       fd.append('relationship_status', this.relationship_status)
//       fd.append('education', this.education)
//       fd.append('languages', this.languages)

//          this.axios.post('https://killmatch.herokuapp.com/user/create_profile',fd,
//               {
//                   params: {
//                     id: this.id
//                   }
//                 },config,)
//             .then(function (response) {
//               console.log(response);
//                 // this.$log.debug("Fee category added:", response);

//                       this.$toasted.success("You Successfully Updated Profile");
//                     this.$router.push("/profile");
                    
            
//             })
//             .catch(function (error) {
//               console.log(error);
//             });
//     },
//    updateProfile(){
//       const fd = new FormData();
//       fd.append('profile_photo', this.selectedFile, this.selectedFile.name)

//        if (this.bio == "") {
//         this.$toasted.error("Enter Bio");
//         return;
//       } else if (this.country == "") {
//         this.$toasted.error("Enter Country");
//         return;
//       }
//           this.axios.post('http://localhost:3000/user/create_profile', {
//               profile_photo:"",
//               relationship_status:this.relationship_status,
//               bio:this.bio,
//               education:this.education,
//               languages:this.languages
//               },
//               {
//                   params: {
//                     id: this.id
//                   }
//                 })
//             .then(function (response) {
//               console.log(response);
//                 // this.$log.debug("Fee category added:", response);

//                       this.$toasted.success("You Successfully Updated Profile");
//                     this.$router.push("/profile");
                    
            
//             })
//             .catch(function (error) {
//               console.log(error);
//             });
// } 
//   }
};
</script>

<style lang="scss">
$color-secondary: #6c587b;

.update {
  width: 100%;
  padding: 5.5rem 0;
}
.update__container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
}
.update__left {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
}
.update {
  &__profile--img {
    border-radius: 1.2rem;
    overflow: hidden;
    margin-bottom: 1.9rem;
    position: relative;
    height: 28rem;
    width: 100%;
    &-main {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
    &--choose {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 35%;
      background-color: rgba(88, 88, 88, 0.5);
      & label {
        width: 100%;
        height: 100%;
        display: block;
        transition: transform 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
        color: pointer;
        &:hover {
          transform: scale(1.05);
        }
      }
      & img {
        height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        filter: invert(0.85);
        transform: translate(-50%, -50%);
      }
    }
    & input[type="file"] {
      display: none;
    }
  }
}
.update__right {
  flex-grow: 2;
  flex: 2;
  padding: 1.4rem;
}

.update {
  &__user-photos {
    &--title {
      font-size: 2rem;
      color: #333;
      display: block;
      font-weight: 700;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }
    &--col {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(100px, 6fr));
    }
    &--item {
      background-color: #dfdfdf;
      width: 10rem;
      height: 10rem;
      border-radius: 3px;
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &--plus {
        position: relative;
        & img {
          position: absolute;
          width: 30px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 30px;
          filter: invert(0.3);
        }
      }
    }
  }
  &__form {
    color: #555;

    &--title {
      font-size: 2.6rem;
      padding-bottom: 2.8rem;
    }
    &__attr {
      padding-bottom: 1.7rem;
      display: flex;
      &--label {
        padding-top: 1rem;
        font-size: 1.6rem;
        flex-grow: 2;
        flex: 2;
      }
      &--input {
        color: #555;
        flex-grow: 4;
        flex: 4;
        font-size: 1.7rem;
        padding: 0 0 5px 1rem;
        outline: none;
        display: block;
        width: 100%;
        padding: 1.1rem 1rem;
        font-size: 1.6rem;
        color: #666;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 12px;
      }
    }
  }
}
</style>