<template>
  <div class="navbar-container">
    <div class="navbar">
      <div class="navbar__links">
        <div class="navbar__logo">
          <span class="highlight">KILL</span>TIME
        </div>
        <ul class="navbar__nav">
          <li class="navbar__nav--item">
            <a href="#" class="navbar__nav--item-link">DISCOVER</a>
          </li>
          <li class="navbar__nav--item">
            <a href="#" class="navbar__nav--item-link">SEARCH</a>
          </li>
        </ul>
      </div>
      <div class="navbar__action">
        <a class="navbar__actions navbar__actions--friends">
          <img class src="../assets/group-of-men.svg" alt="Friends" />
        </a>
        <!-- <a class="navbar__actions navbar__actions--message">
          <img class src="../assets/chat.svg" alt="Message" />
        </a> -->
         <router-link class="navbar__actions navbar__actions--message" :to="{name: 'Chat'}">
          <img class src="../assets/chat.svg" alt="Message"/>
        </router-link>
        <router-link class="navbar__actions" :to="{name: 'profile'}">
          <img src="../assets/person.png" alt="Profile" />
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
$color-primary: #c06c84;
$color-secondary: #35477d;
$color-text: #555;

.navbar-container {
  width: 100%;
  box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.5);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $color-text;
  letter-spacing: 1.05px;
  padding: 1rem 3rem;
  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__logo {
    font-weight: 700;
    font-size: 2.5rem;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-size: 1.6rem;
    padding-left: 3.5rem;
    margin-bottom: -3px;
    &--item {
    }
    &--item-link {
      padding: 10px 1.2rem;
      display: block;
      text-decoration: none;
      color: $color-text;
      border-bottom: 2px solid transparent;
      transition: border 0.3s ease-in;
      &:hover {
        border-bottom: 2px solid $color-primary;
      }
    }
  }
  &__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    &s {
      cursor: pointer;
      overflow: hidden;
      &--friends {
        width: 40px;
        height: 40px;
      }
      &--message {
        width: 36px;
        height: 36px;
      }
      & img {
        width: auto;
        height: 100%;
      }
      &:not(:last-child) {
        margin-right: 1.4rem;
      }
      &:last-child {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
  }
}
</style>
