<template>
  <div class="navbar-container">
    <div class="navbar">
      <div class="navbar__links">
        <div class="navbar__logo">
          <span class="highlight">KILL</span>TIME
        </div>
        <ul class="navbar__nav">
          <li class="navbar__nav--item">
            <a href="#" class="navbar__nav--item-link">HOW IT WORKS?</a>
          </li>
          <li class="navbar__nav--item">
            <a href="#" class="navbar__nav--item-link">LOREM IPSUM</a>
          </li>
          <li class="navbar__nav--item">
            <a href="#" class="navbar__nav--item-link">WHY KILLTIME?</a>
          </li>
          <li class="navbar__nav--item">
            <a href="#" class="navbar__nav--item-link">DOLOR SIT</a>
          </li>
        </ul>
      </div>
      <div class="navbar__buttons">
        <router-link :to="{name: 'Signup'}" class="navbar__buttons--button">Register Now</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
$color-primary: #c06c84;
$color-secondary: #35477d;
$color-text: #555;

.navbar-container {
  width: 100%;
  box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.5);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $color-text;
  letter-spacing: 1.05px;
  padding: 1rem 3rem;
  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__logo {
    font-weight: 700;
    font-size: 2.5rem;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-size: 1.6rem;
    padding-left: 3.5rem;
    margin-bottom: -3px;
    &--item {
    }
    &--item-link {
      padding: 10px 1.2rem;
      display: block;
      text-decoration: none;
      color: $color-text;
      border-bottom: 2px solid transparent;
      transition: border 0.3s ease-in;
      &:hover {
        border-bottom: 2px solid $color-primary;
      }
    }
  }

  &__buttons {
    &--button {
      color: $color-primary;
      text-decoration: none;
      font-size: 1.8rem;
      padding: 0.6rem 1.5rem;
      border: 2px solid $color-primary;
      border-radius: 10px;
    }
  }
}
</style>
