<template>
  <div>
    <home-nav></home-nav>
    <router-view></router-view>
  </div>
</template>

<script>
import HomeNav from "../view/HomeNavbar";
export default {
  components: {
    homeNav: HomeNav
  }
};
</script>

<style lang="scss">
</style>