<template>
  <div class="LoadingGif" :style="{margin: this.margin + 'px'}">
    <img src="../assets/loading.gif" />
    <small>Loading</small>
  </div>
</template>
<script>
export default {
  name: "Loading",
  props: ["margin"]
};
</script>
<style >
.LoadingGif {
  margin: 200px;
  min-height: 75px;
  text-align: center;
}

.LoadingGif img {
  display: block;
  height: 35px;
  opacity: 0.6;
  margin: 0 auto 10px;
}
.LoadingGif small {
  font-size: 14px;
  opacity: 0.4;
  letter-spacing: 4px;
}
button .LoadingGif {
  min-height: auto;
  margin: 0;
}

button .LoadingGif img {
  display: inline-block;
  height: 16px;
  opacity: 1;
  margin: 0 8px 0 0;
}

button .LoadingGif small {
  font-size: 13px;
  opacity: 0.7;
  letter-spacing: 2px;
}
</style>
