<template>
  <app-layout></app-layout>
</template>

<script>
import AppLayout from "./components/AppLayout.vue";
export default {
  components: {
    appLayout: AppLayout
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap");

$color-primary: #c06c84;
$color-secondary: #35477d;
$color-text: #555;

:root {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.highlight {
  color: $color-primary;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.heading--primary {
  font-size: 3.2rem;
  display: block;
  margin-bottom: 5.5rem;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: $color-text;
  letter-spacing: 0.25rem;
  font-weight: 400;
}

.section {
  padding: 9rem 0;
}

.paragraph {
  font-size: 1.9rem;
  color: $color-text;
  line-height: 140%;
  font-weight: 300;
}

.para--heading {
  font-size: 2.85rem;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 2.5rem;
}

// MIXINS

@mixin ds-flex-row {
  display: flex;
  flex-direction: row;
}

@mixin ds-flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
</style>
